@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@media only screen and (min-width: 320px) {
	/*auth*/
	body {
		background: #fcfcfc;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}

	.h1 {
		text-align: center;
		color: #57a544;
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	.btn-h1-spacing {
		margin-top: 30px;
	}

	.btn-login {
		margin-top: 13px;
	}

	.form-spacing-top {
		margin-top: 30px;
	}

	.comment {
		margin-bottom: 45px;
	}

	.author-image {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: left;
	}

	.author-name {
		float: left;
		margin-left: 15px;
	}

	.author-name > h4 {
		margin: 5px 0px;

	}

	.author-time {
		font-size: 11px;
		font-style: italic;
		color: #aaa;
	}

	.comment-content {
		clear: both;
		margin-left: 65px;
		font-size: 16px;
		line-height: 1.3em;
	}

	.comments-title {
		margin-bottom: 45px;
	}

	.comments-title > span {
		margin-right: 15px;
	}

	/*frontend*/
	#contact {
		padding: 20px;

	}

	.card-body {
		padding: 50px;
	}

	.card-body i {
		color: #87d37c;

	}

	#contact .card:hover i {
		color: #57a544;
	}

	/*footer*/
	/*Webfejlesztes*/
	.box {
		border-radius: 3px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		padding: 10px 25px;
		text-align: right;
		display: block;
		margin-top: 60px;
	}

	.box-icon {
		background-color: #57a544;
		border-radius: 50%;
		display: table;
		height: 100px;
		margin: 0 auto;
		width: 100px;
		margin-top: -61px;
	}

	.box-icon span {
		color: #fff;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.info h4 {
		font-size: 26px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.info > p {
		color: #717171;
		font-size: 16px;
		padding-top: 10px;
		text-align: justify;
	}

	/*team*/
	section {
		padding: 60px 0;
	}

	section .section-title {
		text-align: center;
		color: #57a544;
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	#team .card {
		border: none;
		background: #ffffff;
	}

	.image-flip:hover .backside,
	.image-flip.hover .backside {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		border-radius: .25rem;
	}

	.image-flip:hover .frontside,
	.image-flip.hover .frontside {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.mainflip {
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-ms-transition: 1s;
		-moz-transition: 1s;
		-moz-transform: perspective(1000px);
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transition: 1s;
		transform-style: preserve-3d;
		position: relative;
	}

	.frontside {
		position: relative;
		-webkit-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		z-index: 2;
		margin-bottom: 30px;
	}

	.backside {
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	}

	.frontside,
	.backside {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-moz-transition: 1s;
		-moz-transform-style: preserve-3d;
		-o-transition: 1s;
		-o-transform-style: preserve-3d;
		-ms-transition: 1s;
		-ms-transform-style: preserve-3d;
		transition: 1s;
		transform-style: preserve-3d;
	}

	.frontside .card,
	.backside .card {
		min-height: 312px;
	}

	.backside .card a {
		font-size: 18px;
		color: #007b5e !important;
	}

	.frontside .card .card-title,
	.backside .card .card-title {
		color: #007b5e !important;
	}

	.frontside .card .card-body img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}

	/*Price*/
	.pd0 {
		margin: 0;
		padding: 0;

	}

	#prices span {
		font-size: 30px;
		color: #FFF;
	}

	#prices h3 {
		color: #FFF;
	}

	#prices .features li {
		padding: 10px;
	}

	#prices .btn.btn-default {
		margin: 20px 0px;
	}

	#prices .features-border li {
		border-top: 1px solid #4d4d4d;
		padding: 10px 0px;
	}

	#prices .features-border li:last-child {
		border-bottom: 1px solid #4d4d4d;
	}

	#price2 {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
		z-index: 2;
	}

	#price2:before {
		content: "";
		width: 100%;
		height: 40px;
		position: absolute;
		left: 0;
		right: 0;
		top: -30px;
		margin: 0 auto;
	}

	.btn.btn-price {
		background-color: #57a544;
		color: #fff;
		border-radius: 0;
		border: none;
		padding: 13px 20px;
		font-size: 13px;
		font-weight: 600
	}

	.prices-box {
		margin: 50px 0px;
		border-color: #4d4d4d;
	}

	.top-content {
		background-color: #87d37c;
		padding: 20px;
	}

	.bottom-content {
		background-color: #f6f6f6;
		padding: 60px;
	}

	.big-price span {
		color: #333;
		font-size: 40px;
	}

	.btn-price {
		background-color: #5db4c0;
		color: #fff;
		border-radius: 50%;
		border: none;
		padding: 40px 20px;
		font-size: 13px;
		font-weight: 600;
		margin-top: 20px;
	}

	/*blog card*/
	.index-content a:hover {
		color: black;
		text-decoration: none;
	}

	.index-content {
		margin-bottom: 20px;
		padding: 50px 0px;

	}

	.index-content .row {
		margin-top: 20px;
	}

	.index-content a {
		color: black;
	}

	.index-content .card {
		background-color: #FFFFFF;
		padding: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

	}

	.index-content .card:hover {
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
		color: black;
	}

	.index-content .card img {
		width: 100%;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.index-content .card h4 {
		margin: 20px;
	}

	.index-content .card p {
		margin: 20px;
		opacity: 0.65;
	}

	.index-content .blue-button {
		width: 100px;
		-webkit-transition: background-color 1s, color 1s; /* For Safari 3.1 to 6.0 */
		transition: background-color 1s, color 1s;
		min-height: 20px;
		background-color: #57a544;
		color: #ffffff;
		border-radius: 4px;
		text-align: center;
		font-weight: lighter;
		margin: 0px 20px 15px 20px;
		padding: 5px 0px;
		display: inline-block;
	}

	.index-content .blue-button:hover {
		background-color: #dadada;
		color: #57a544;
	}

	@media (max-width: 768px) {

		.index-content .col-lg-4 {
			margin-top: 20px;
		}
	}

	.carousel-inner img {
		width: 100%;
		height: 100%;
	}

	.timeline {
		position: relative;
		padding: 0;
		list-style: none;
	}

	.timeline:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 40px;
		width: 2px;
		margin-left: -1.5px;
		content: '';
		background-color: #e9ecef;
	}

	.timeline > li {
		position: relative;
		min-height: 50px;
		margin-bottom: 50px;
	}

	.timeline > li:after, .timeline > li:before {
		display: table;
		content: ' ';
	}

	.timeline > li:after {
		clear: both;
	}

	.timeline > li .timeline-panel {
		position: relative;
		float: right;
		width: 100%;
		padding: 0 20px 0 100px;
		text-align: left;
	}

	.timeline > li .timeline-panel:before {
		right: auto;
		left: -15px;
		border-right-width: 15px;
		border-left-width: 0;
	}

	.timeline > li .timeline-panel:after {
		right: auto;
		left: -14px;
		border-right-width: 14px;
		border-left-width: 0;
	}

	.timeline > li .timeline-image {
		position: absolute;
		z-index: 100;
		left: 0;
		width: 80px;
		height: 80px;
		margin-left: 0;
		text-align: center;
		color: white;
		border: 7px solid #e9ecef;
		border-radius: 100%;
		background-color: #aaa;
	}

	.timeline > li .timeline-image h4 {
		font-size: 10px;
		line-height: 14px;
		margin-top: 12px;
	}

	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		padding: 0 20px 0 100px;
		text-align: left;
	}

	.timeline > li.timeline-inverted > .timeline-panel:before {
		right: auto;
		left: -15px;
		border-right-width: 15px;
		border-left-width: 0;
	}

	.timeline > li.timeline-inverted > .timeline-panel:after {
		right: auto;
		left: -14px;
		border-right-width: 14px;
		border-left-width: 0;
	}

	.timeline > li:last-child {
		margin-bottom: 0;
	}

	.timeline .timeline-heading h4 {
		margin-top: 0;
		color: inherit;
	}

	.timeline .timeline-heading h4.subheading {
		text-transform: none;
	}

	.timeline .timeline-body > ul,
	.timeline .timeline-body > p {
		margin-bottom: 0;
	}

	@media (min-width: 768px) {
		.timeline:before {
			left: 50%;
		}

		.timeline > li {
			min-height: 100px;
			margin-bottom: 100px;
		}

		.timeline > li .timeline-panel {
			float: left;
			width: 41%;
			padding: 0 20px 20px 30px;
			text-align: right;
		}

		.timeline > li .timeline-image {
			left: 50%;
			width: 100px;
			height: 100px;
			margin-left: -50px;
		}

		.timeline > li .timeline-image h4 {
			font-size: 13px;
			line-height: 18px;
			margin-top: 16px;
		}

		.timeline > li.timeline-inverted > .timeline-panel {
			float: right;
			padding: 0 30px 20px 20px;
			text-align: left;
		}
	}

	@media (min-width: 992px) {
		.timeline > li {
			min-height: 150px;
		}

		.timeline > li .timeline-panel {
			padding: 0 20px 20px;
		}

		.timeline > li .timeline-image {
			width: 150px;
			height: 150px;
			margin-left: -75px;
		}

		.timeline > li .timeline-image h4 {
			font-size: 18px;
			line-height: 26px;
			margin-top: 30px;
		}

		.timeline > li.timeline-inverted > .timeline-panel {
			padding: 0 20px 20px;
		}
	}

	@media (min-width: 1200px) {
		.timeline > li {
			min-height: 170px;
		}

		.timeline > li .timeline-panel {
			padding: 0 20px 20px 100px;
		}

		.timeline > li .timeline-image {
			width: 170px;
			height: 170px;
			margin-left: -85px;
		}

		.timeline > li .timeline-image h4 {
			margin-top: 40px;
		}

		.timeline > li.timeline-inverted > .timeline-panel {
			padding: 0 100px 20px 20px;
		}
	}

	/*Marketing*/
	.how-section1 {
		margin-top: -15%;
		padding: 10%;
	}

	.how-section1 h4 {
		color: #87d37c;
		font-weight: bold;
		font-size: 30px;
	}

	.how-section1 .subheading {
		color: #57a544;
		font-size: 20px;
	}

	.how-section1 .row {
		margin-top: 10%;
	}

	.how-img {
		text-align: center;
	}

	.how-img img {
		width: 100%;
	}

	/* Float four columns side by side */
	.column {
		float: left;
		width: 25%;
		padding: 0 5px;
	}

	.row {
		margin: 0 -5px;
	}

	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Responsive columns */
	@media screen and (max-width: 600px) {
		.column {
			width: 100%;
			display: block;
			margin-bottom: 10px;
		}
	}

	/* Style the counter cards */
	.card-marketing {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		text-align: center;
		background-color: #87d37c;
		color: white;
	}

	.bg-image-full {
		background: no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}
}
